.landing-page-container {
  text-align: center; }

.landing-page-logo {
  width: 300px;
  margin: 40px 0; }

.home-navbar {
  border-bottom: 3px solid whitesmoke;
}

.auth-btn-container button {
  margin-bottom: 20px; }
  @media (min-width: 480px) {
    .auth-btn-container button {
      min-width: 300px; } }
